<div class="container">
  <div class="col-md-6">
    <div class ="well thumbnail order-list">
      <h1><%= @order.user.name.titleize %>, Here's Your Order</h1>
      
      <h3>Order id: <%= @order.id_present_to_customer %></h3>
      <h3>Purchased: <%= @order.pretty_create_at %></h3>
    </div>
  </div>
  <div class="col-md-6">
    <div class ="well thumbnail order-list">
      <h3>Subtotal: <%= number_to_currency(@order.subtotal) %></h3>
      <h3>Tax: <%= number_to_currency(@order.tax) %></h3>
      <h3>Total: <%= number_to_currency(@order.total) %></h3>
    </div>
  </div>

  <% @carted_products.each do |carted_product| %>
    <div class="col-md-4">
      <div class="well thumbnail order-index">
        <h3><%= carted_product.sneaker.make %> <%= carted_product.sneaker.model %></h3>
        <h3>Quantity: <%= carted_product.quantity %></h3>
        <img src="<%= carted_product.sneaker.top_image %>" alt="<%= carted_product.sneaker.model %>">
        <h3>Price: <%= number_to_currency(carted_product.sneaker.price) %></h3> 
      </div>
    </div>
  <% end %>
</div>