<% @sneaker.errors.full_messages.each do |error| %>
  <h5><%= error %></h5>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Enter a new sneaker: </h3>
      <%= form_tag '/sneakers', method: :post do %>
        <div>
          <%= label_tag :make, 'Brand: ' %>
          <%= text_field_tag :make, @sneaker.make %>
        </div>
        <div>
          <%= label_tag :model, 'Item name: ' %>
          <%= text_field_tag :model, @sneaker.model %>
        </div>
        <div>
          <%= label_tag :image, 'Image URL: ' %>
          <%= text_field_tag :image, nil %>
        </div>
        <div>
          <%= label_tag :image_2, "Add'l Image URL: " %>
          <%= text_field_tag :image_2, nil %>
        </div>
        <div>
          <%= label_tag :image_3, "Add'l Image URL: " %>
          <%= text_field_tag :image_3, nil %>
        </div>
        <div>
          <%= label_tag :description, 'Description: ' %>
          <%= text_field_tag :description, @sneaker.description %>
        </div>
        <div>
          <%= label_tag :price, 'Price: ' %>
          <%= text_field_tag :price, @sneaker.price %>
        </div>
        <div>
          <%= label_tag :supplier_id, 'Supplier: ' %>
          <%= collection_select :supplier, :supplier_id, Supplier.all, :id, :name %>
        </div>
        <br>
        <div>
          <%= submit_tag "Sell Sneakers", class:"btn btn-default" %>
        </div>
      <% end %>
    </div>
    
    <div class="col-md-6 new-list">
      <img id="home_image" src="http://theshoegame.com/wp-content/uploads/2011/02/nike-sneaker-boxes.jpg" alt="Sneaker Seeker">
    </div>
  </div>
</div>